/*formatações gerais*/

body,textarea{
    margin: 0;
    padding: 0;
    font-family: "Montserrat,Arial,Helvetica,sans-serif";
    }
    
    H1,H2,h3{
      color:#333;
    }
    
    p{
      color:#70747A;
    }
    
    /*navbar*/
    
    .navbar-container{
      background-color: #CEB7BF;
      padding: 0 30px;
      height: 80px;
      width: 100%;
      position: relative;
      box-sizing: border-box;
      
    }
    
    .logo{
      width: 200px;
      margin-top: 5px;
    }

/*  Menu */
    
    .menu{
      list-style:none;
      float:right;
      padding-right: 155px;


    }

    .menu li{
      position:relative;
      float:left;

      }

      .menu li a{
        color:white;
         text-decoration:none;
          padding:5px 20px; 
          display:block;}

      .menu li a:hover{
      background:#A68282;
      color:#fff;
      }


     .menu li  ul{
     position:absolute;
     top:20px;
     left:0;
     background-color:#CEB7BF;
     display:none;
     }
  
    .menu li:hover ul, .menu li.over ul{
    display:block;

    }

    .menu li ul li{
      display:block;
      width:120px;
      } 


    .default-btn{
      background-color:Green;
      padding: 15px 20px;
      color: lightpink;
      border-radius:5px;
      
    }
 
    /* Main banner ou Inicio */
    
    .main-banner{
    background-image: url("../imagens/inicio.jpg");
    padding: 100px 0;
    background-position: top;
    background-size: cover;
    
      
    }
    
    .main-banner h1{
      font-family: 'Viaoda Libre', cursive;
      font-size: 54px;
      color:white;
      padding: 20px 0;
      text-align: center ;
    }
    
    .main-banner p{
      font-size:20px;
      color:white;
      text-align: center;
  
  }
  
  .main-banner ul {
      display: flex;
      width: 90%;
      position: relative;
      margin:0 auto ;
      padding-left: 0;
  }
  
  .main-banner ul a{
 position: relative;

  }


  .main-banner ul li {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 200px;
      /*flex: 1 1 200px;*/
      list-style: none;
      text-align: center;
      padding: 20px;
  }
  
  .fa-bars{

    font-size: 40px;
    color: white;
  }


  .fa-atlas {
    font-size: 40px;
    color:white;
  }
  
  .fa-avianex {
    font-size: 40px;
    color: white;
  }
  
   .fa-calendar-alt {
     font-size: 40px;
     color: white;
  }
  
  .main-banner ul li h3 {
      margin-bottom: 25px;
      color: Black;
      font-family: 'Kirang Haerang', cursive;
font-family: 'Viaoda Libre', cursive;
background-color:#D9C8CE ;
  }
  
  
  .main-banner ul li p {
    padding: 4px;
      line-height: 24px;
      color: white;
      
  }
    
    


    /* Planos e Valores */

    .pricing-container{
     text-align: center;
     
     padding-bottom:20px;
    }

    .pricing-container h1{
      font-size: center;
      color: #A25A5B;
      padding-bottom: 20px;
      padding-top: 25px;
      font-size: 40px; 
    }

    .pricing-container p{
      font-size: 36px;
    }

    .plans-container{
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
      width: 98%;
      position: relative;
      margin: o auto;
    } 


    .plan{
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 200px;
      max-width: 275px;
      margin: 0 78px;
    }

   .plan ul{
     padding: 1px;
   }
   .plan li{
     list-style: none;
     height: 50px;
     line-height: 58px;
     background-color: #E6D3D7;
     color:gray;
     padding: 2px;


   }

   .plan .price{

     width: 120px;
     height: 120px;
     border-radius:50%;
     background-color: white;
     color: black;
     text-align: center;
     line-height: 120px;
     font-size: 30px;
     position: relative;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: -20px;
     font-family: 'Kalam', cursive;
font-family: 'Kirang Haerang', cursive;
font-family: 'Viaoda Libre', cursive;

   }
   
   .plan .plan-name {
     padding-top:50px 0 ;
     background-color: #704153;
     color: white;
     font-weight: bold;
     font-size: 20px ;

   }

   .plan .plan-btn{
     background-color:#BC7072;
     color:white;
     font-size: 24px;
     height: 75px;
     line-height: 75px;
     cursor: pointer;
   }


/* buscar Dominio */

.searchdomain-container{

  padding: 70px 0; 
  background-color:#CDB6BC ;
  text-align: center;
}
  
.searchdomain-container h2{
color: #fff;
font-size: 42px;
margin-top:0;
margin-bottom: 15px;

}

.searchdomain-container p{
  color: white;
  font-size: 24px;
  margin-bottom: 25px;
}

.searchdomain-container input{
  display: block;
  position: relative;
  margin:0 auto;
  border: none; 
  border-radius: 5px;
}

.searchdomain-container input[type=text]{
  margin-bottom: 25px;
  width: 60%;
  padding: 20px;
  font-size: 24px;
}

.searchdomain-container input[type=submit]{
 background-color: pink;
 padding: 15px 30px;
 color: #fff;
 font-size: 25px;


}

/* contato */

.contact-container{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 15px;

}

.contact-container h2{
  font-size: 30px;
}

.contact-container p{
  font-size: 20px;
  margin-bottom: 40px;
}

.contact-container input, .contact-container textarea{
  width: 200px;
  padding: 10px 20px;
  font-size:  16px;
  border-radius: 5px;
  border: 1px solid pink;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.contact-container textarea{
  display: block;
  position: relative;
 margin:0 auto;
  width:  468px;
  height: 150px;
}
    
.contact-container input[type=submit]{
  display: block;
  position: relative;
  margin-left:  auto;
  margin-right: auto;
  background-color: pink;
  margin-top: 25px;
  color: white;
}

/* footer */

footer{
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;

}


  
    
    @media screen and (max-width:900px){
      
      .plans-container, .specialties-container ul {
        flex-wrap:wrap;
      }
      
    }

    @media screen and (max-width: 1100){

      .plans-container{
        width: 95%;
    }

    .plan{
      margin-left: 5px;
      margin-right: 5px;
    }

  }
    
    @media screen and (max-width: 576px){

      .navbar-items li{
      font-size: 12px;
      margin-left: 10px;

    }

    html, body{

      overflow: hidden;
    }

    .plan{
      max-width: 100%;

    }

    .specialties-container{
      padding: 18px 15px;
    }

.container .searchdomain-container input{

  width: 100%;
  box-sizing:border-box ;

}

.contact-container{
  padding:18px 15px;

}

.contact-container input, .contact-container textarea{
width: 100%;
display: block;
margin-left: 0;
margin-right: 0;
box-sizing: border-box;


}

  }